@media handheld, only screen and (max-width: 1280px) {
  .hero-banner .bottles-holder {
    bottom: 20px;
  }

  .hero-banner .bottles-holder img {
    margin-bottom: 0px;
  }
}
@media handheld, only screen and (max-width: 991px) {
  .navbar-brand {
    width: 140px;
  }
  #scalp-nav .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hero-banner .bottles-holder img {
    margin-bottom: 0;
  }
  .col-md-6.full-height {
    position: absolute;
    width: 500px;
    bottom: 0;
    right: 20px;
  }
  .hero-banner .hero-main-txt {
    color: #404144;
    margin-top: 210px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 10px;
  }
  .hero-banner.hero-lower {
    height: auto;
    padding-bottom: 300px;
  }
  .hero-banner.hero-lower .col-md-6 {
    display: block;
    width: auto !important;
    float: none;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .hero-banner.hero-lower .bottles-holder {
    position: relative;
    top: auto;
    bottom: auto;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .hero-banner.hero-lower .img-responsive {
    max-height: none;
    max-width: 100%;
    width: 100%:
  }
  .hero-banner.hero-lower .cta-floater {
    padding: 40px 20px;
  }
  .hero-banner .hero-main-txt {
    margin-left: 0;
  }
}

@media handheld, only screen and (max-width: 767px) {
  #scalp-nav .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .col-md-6.full-height {
    width: 400px;
  }

  .bottle-grid .desc {
    font-size: 1em;
  }
  .bottle-grid .glyphicon {
    font-size: 20px;
  }
}
@media handheld, only screen and (max-width: 600px) {
  .hero-banner .hero-main-txt {
    font-size: 8px;
    line-height: 1.2
  }
  .cta-floater {
    width: auto;
    right: 0px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hero-banner .cta-floater .obtn {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 7px;
  }
}

@media handheld, only screen and (max-width: 499px) {
  #scalp-topnav a {
    margin-left: 20px;
    font-size: .8em;
  }
}

@media handheld, only screen and (max-width: 440px) {
  .col-md-6.full-height {
    width: 90%;
  }
  .hero-banner .bottles-holder {
      bottom: 20px;
      right: 0;
      left: 0;
  }
}
