body {
  background: #fff url(./img/bg-pattern.gif) center top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}
.bg-white {
  background-color: #fff;
}
#hp-logos {
  padding-top: 140px;
  /* box-shadow: 0 0 30px #ccc; */
}
#scalp-topnav {
  color: #fff;
  z-index: 9999;
  background: #404145;
  min-height: 40px;
}
#scalp-topnav a {
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 60px;
}
#scalp-topnav .container a:first-child {
  margin-left: 0 !important;
}
#scalp-topnav a:hover {
  text-decoration: none;
  color: #38BCD5;
}
#scalp-nav {
  background: #fff;
}
#scalp-nav a {
  color: #404145;
}
#scalp-nav.navbar-fixed-top{
  top: 40px;
  box-shadow: 0 0 30px #ccc;
}
#scalp-nav .navbar-nav>li>a {
  padding-top: 38px;
  padding-bottom: 38px;
}
#scalp-nav .navbar-toggle {
  background-color: #404145;
}
#scalp-nav .navbar-toggle .icon-bar {
  background: #fff;
}
#navbar {
  background: #fff;
  color: #000;
}
.navbar-brand {
  width: 280px;
  height: auto;
}

/* ============================================================
  BG Video
============================================================ */
section#bgvideo .video-container {
  position: relative;
}
section#bgvideo video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
section#bgvideo .overlay-desc {
  background: rgba(0,0,0,0.65);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#bgvideo h1,p,button {
  color: white;
  text-align: center;
}
section#bgvideo #modalClose {
  position: absolute;
  color: #fff;
  top: 15px;
  right: 25px;
  z-index: 10000;
}

/* ============================================================
  Universal Styles
============================================================ */
.padding-top-40 { padding-top: 40px; }
.padding-bottom-40 { padding-bottom: 40px; }

.text-bold { font-weight: bold; }
